{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Add Product</h5>
          <form class="form-signin" id="login-form" method="post">
              {% csrf_token %}
            <div class="form-label-group">
              <input type="text" id="inputProductName" class="form-control" placeholder="ProductName" name="ProductName" required autofocus>
              <label for="ProductName">Product Name</label>
            </div>

      <div class="form-label-group">
        <input type="textarea" id="inputDescription" class="form-control" placeholder="Description" name="Description" required>
        <label for="Description">Description</label>
      </div>

      <div class="form-label-group">
        <input type="number" id="inputPrice" class="form-control" placeholder="Price" name="Price" required>
        <label for="inputPrice">Price</label>
      </div>

      <div class="form-check">
        <input type="checkbox" id="inputStatus" class="form-check-input" placeholder="Status" name="Status" required>
        <label class="form-check-label" for="inputStatus">Status</label>
      </div>
      <br>
      <div class="form-label-group">
        <input type="datetime-local" id="inputPostedOn" class="form-control" placeholder="PostedOn" name="PostedOn" required>
        <label for="inputPostedOn">Posted On</label>
      </div>

      <label class="btn btn-secondary" for="my-file-selector">
          <input id="my-file-selector" name="product_photo" type="file" style="display:none"
          onchange="$('#upload-file-info').html(this.files[0].name)">
          Upload Photo
    </label>
    <span class='label label-info' id="upload-file-info"></span>

            {% if form.errors %}
                <p class="label label-danger">
                    Please try again.
                </p>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add Product</button>
            <input type="hidden" name="next" value="{{ next }}" />

{% endblock content %}
